<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
        {{>header}}
        <p>This site was created by Vedant Patel. It uses data from mapbox.com and darksky.net</p>
        <img class="portrait" src="/img/me.png">
        </div>
        {{>footer}}


    </body>

    </html>